.dropdown-arrow-inverse {
  border-bottom-color: #34495e !important;
  border-top-color: #34495e !important;
}
/*
Variables & Mixins
------------
*/
/*
DEBUGGING 
------------
*/
@media (min-width: 768px) and (max-width: 979px) {
  .navbar .btn-navbar {
    display: none;
  }
}
@media (max-width: 979px) {
  .navbar .navbar-brand {
    font-size: 18px;
  }
}
@media screen and (min-width: 768px) {
  .modal-dialog {
    left: auto;
    right: auto;
  }
}
[xclass*="col-"] {
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: #eee;
  background-color: rgba(86, 61, 124, 0.15);
  border: 1px solid #ddd;
  border: 1px solid rgba(86, 61, 124, 0.2);
}
/*
Bootstrap Overrides
------------
*/
.img-responsive {
  width: 100%;
}
.btn-white {
  color: #34495e !important;
  background-color: white;
  border: 2px solid #bdc3c7;
}
.btn-white:hover {
  color: #34495e;
}
.btn-white .caret {
  border-bottom-color: #34495e;
  border-top-color: #34495e;
}
.btn-group.open .btn-white.dropdown-toggle {
  color: #34495e;
}
.btn-group.select {
  width: 100%;
}
.btn-group.select .btn-white {
  width: 100%;
}
/*
.container {
  @media (min-width: @screen-sm-min) { width: @screen-sm-min - @grid-gutter-width; }
  @media (min-width: @screen-md-min) { width: @screen-md-min - @grid-gutter-width; }
  @media (min-width: @screen-lg-min) { width: @screen-lg-min - @grid-gutter-width; }
}
*/
/*
General Styling
------------
*/
html,
body {
  height: 100%;
}
body {
  position: relative;
}
/*
Modules/Widgets (thing reused throughout)
-----------------
*/
.section-title {
  text-align: center;
}
/* Wrapper for page content to push down footer */
#wrap {
  min-height: 100%;
  height: auto;
  /* Negative indent footer by its height */
  margin: 0 auto -120px;
  /* Pad bottom by footer height */
  padding: 0 0 120px;
}
/*
Sections / Pages
-----------------
*/
/* SECTION - City Shelters */
.shelter-list .shelter {
  display: block;
  color: #333333;
  border-bottom: 1px solid #cccccc;
  padding-top: 20px;
  padding-bottom: 20px;
}
.shelter-list .shelter:hover {
  color: #ffffff;
  background-color: #16a085;
}
/* SECTION- Shelter */
.shelter-container {
  background-color: #ecf0f1;
  margin-top: 20px;
  padding: 20px;
}
.shelter-container .action-buttons .btn {
  margin-top: 10px;
  margin-bottom: 10px;
}
.shelter-container .shelter-details {
  margin: 10px 0 0 0;
}
.shelter-container .shelter-stats .stat {
  border-top: 1px solid #cccccc;
  text-align: center;
  text-transform: uppercase;
  border-left: 1px solid #cccccc;
  border-right: 1px solid #cccccc;
  padding: 10px;
}
.shelter-container .shelter-stats .stat:first-child,
.shelter-container .shelter-stats .stat:last-child {
  border-left: none;
  border-right: none;
}
.shelter-stories-container .shelter-story,
.story-container .shelter-story {
  background-color: #bdc3c7;
  margin-top: 20px;
  padding: 20px;
}
.shelter-stories-container .shelter-story .shelter-author,
.story-container .shelter-story .shelter-author,
.shelter-stories-container .shelter-story .shelter-id,
.story-container .shelter-story .shelter-id {
  color: #333333;
  font-weight: bold;
  text-transform: uppercase;
}
.shelter-stories-container .shelter-gift,
.story-container .shelter-gift {
  background-color: #ffffff;
  border-bottom: 1px solid #cccccc;
  border-left: 1px solid #cccccc;
}
/* SECTION - Story */
.center-block {
  display: block;
  margin-right: auto;
  margin-left: auto;
  float: none;
}
.navbar {
  -webkit-transition: all .25s linear;
  -moz-transition: all .25s linear;
  -o-transition: all .25s linear;
  transition: all .25s linear;
  border-radius: 0;
}
.navbar .navbar-right > li > a.btn {
  padding: 0px 20px;
  margin: 20px 10px;
  border-radius: 10px;
}
.navbar-ondark .navbar-brand,
.navbar-ondark .btn-navbar {
  color: #ffffff;
}
.navbar-ondark .nav > li.active > a,
.navbar-ondark .nav > li.active > a:hover,
.navbar-ondark .nav > li.active > a:focus {
  color: #ffffff;
}
.navbar-ondark .nav > li > a {
  color: #ffffff;
}
.jumbotron {
  background: #2c3e50;
  text-align: center;
  padding: 13% 0 10% 0;
  border-bottom: 2px solid #ee1e4e;
  position: relative;
}
.jumbotron h1,
.jumbotron h2,
.jumbotron h3,
.jumbotron h4,
.jumbotron p {
  color: white;
}
.jumbotron .img {
  background-image: url(../images/header-1hp.jpg);
  background-size: cover;
  background-position-y: 75%;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0.25;
  -ms-filter: "alpha(Opacity=25)";
  filter: alpha(opacity=25);
}
.jumbotron .container {
  position: relative;
}
section {
  padding: 5% 0;
  border-bottom: 1px solid #e8eaef;
}
.section-offset {
  background: #eceef0;
}
.mission {
  text-align: center;
}
.how-it-works {
  text-align: center;
}
.how-it-works .row {
  width: 80%;
  margin: 0 auto;
}
.seen-on {
  text-align: center;
}
.seen-on img {
  display: inline-block;
}
.testimonial {
  border: 0px;
  font-size: 18px;
  text-align: center;
  color: #a7a7a7;
  padding: 0 10%;
  min-height: 100px;
}
@media (min-width: 992px) {
  .nav-testimonial .nav-testimonial-content {
    float: left;
    text-align: left;
  }
  .nav-testimonial img {
    float: left;
    margin-right: .5em;
  }
}
.nav-testimonial li a {
  overflow: hidden;
  padding: 0;
  color: #a7a7a7;
  text-align: center;
}
.nav-testimonial li a:hover {
  background: none;
}
.nav-testimonial img {
  height: 60px;
  width: 60px;
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  filter: grayscale(100%);
}
.nav-testimonial .active img {
  -webkit-filter: grayscale(0);
  -moz-filter: grayscale(0);
  filter: grayscale(0);
}
.nav-testimonial .active a {
  color: inherit;
}
.nav-testimonial .nav-testimonial-content h3 {
  font-size: 18px;
  margin: .5em 0 0 0;
}
.wish-list {
  text-align: center;
}
.wish-list .table {
  width: 80%;
  margin: 0 auto;
}
.wish-list strong {
  font-size: 32px;
  display: block;
}
.wish-list .table {
  background: white;
}
.stories {
  text-align: center;
}
.stories .row {
  width: 80%;
  margin: 0 auto;
}
.action {
  text-align: center;
}
