.dropdown-arrow-inverse {
  border-bottom-color: #34495e !important;
  border-top-color: #34495e !important;
}
.alert-success {
  background-color: #eef6f5;
  border-color: #e0eaeb;
}
/*
DEBUGGING 
------------
*/
@media screen and (min-width: 768px) {
  .modal-dialog {
    right: auto;
    left: auto;
  }
}
[xclass*="col-"] {
  padding-top: 15px;
  padding-bottom: 15px;
  border: 1px solid #ddd;
  border: 1px solid rgba(86, 61, 124, 0.2);
  background-color: #eee;
  background-color: rgba(86, 61, 124, 0.15);
}
.m-notop {
  margin-top: 0;
}
/*
General Styling
------------
*/
html,
body {
  height: 100%;
}
body {
  position: relative;
  padding-top: 76px;
}
@media (min-width: 768px) {
  body,
  p,
  .table,
  .alert,
  blockquote p {
    font-size: 18px;
  }
}
blockquote {
  font-style: italic;
  margin-top: 40px;
  margin-bottom: 40px;
  width: 80%;
}
blockquote p {
  font-size: 21px;
  font-weight: 300;
}
.lead {
  font-size: 1.556em;
}
h1,
h2,
h3,
h4,
h5 {
  font-weight: 400;
}
h1 small,
h2 small,
h3 small,
h4 small,
h5 small {
  color: #B7B9BD;
}
.on-dark h1,
.on-dark h2,
.on-dark h3,
.on-dark h4,
.on-dark p {
  color: white;
}
h2.section-title {
  font-weight: 300;
}
.vid {
  margin-bottom: 30px;
}
/*
Bootstrap Overrides
------------
*/
.img-responsive {
  width: 100%;
}
.btn-white {
  border: 2px solid #bdc3c7;
  background-color: white;
  color: #34495e !important;
}
.btn-white:hover {
  color: #34495e;
}
.btn-white .caret {
  border-top-color: #34495e;
  border-bottom-color: #34495e;
}
.btn-group.open .btn-white.dropdown-toggle {
  color: #34495e;
}
.btn-group.select {
  width: 100%;
}
.btn-group.select .btn-white {
  width: 100%;
}
.list-group-item-heading {
  font-size: inherit;
}
.list-group-item .btn {
  margin: 1em 0;
}
/*
Modules/Widgets (thing reused throughout)
-----------------
*/
section {
  padding: 36px 0;
  border-bottom: 1px solid #e8eaef;
}
@media (min-width: 480px) {
  section {
    padding: 72px 0;
  }
}
.section-title {
  text-align: center;
  margin-top: 0;
  margin-bottom: 1em;
}
.section-offset {
  background: #eceef0;
}
.section-offset h2 {
  font-weight: 500;
}
/*
.container {
  @media (min-width: @screen-sm-min) { width: @screen-sm-min - @grid-gutter-width; }
  @media (min-width: @screen-md-min) { width: @screen-md-min - @grid-gutter-width; }
  @media (min-width: @screen-lg-min) { width: @screen-lg-min - @grid-gutter-width; }
}
*/
/* Wrapper for page content to push down footer */
#wrap {
  /* Negative indent footer by its height */
  margin: 0 auto -120px;
  /* Pad bottom by footer height */
  padding: 0 0 120px;
  min-height: 100%;
  height: auto;
}
.navbar-brand {
  width: 160px;
  height: 60px;
  background: url('../images/logos/hp.png') center center no-repeat;
  background-size: 100%;
  text-indent: -9999999px;
  display: block;
  float: none;
}
.navbar {
  border-radius: 0;
  -webkit-transition: all .25s linear;
  -moz-transition: all .25s linear;
  -o-transition: all .25s linear;
  transition: all .25s linear;
}
.navbar .nav > li > a {
  font-size: 14px;
}
.navbar .navbar-right > li > a.btn {
  margin: 20px 10px;
  padding: 0px 20px;
  border-radius: 10px;
}
.navbar-ondark {
  background: none;
}
.navbar-ondark .nav > li > a {
  color: #ffffff;
}
.navbar-ondark .btn-navbar:before {
  color: white;
}
.navbar-ondark .navbar-brand,
.on-dark .navbar-brand {
  background-image: url('../images/logos/hp-inverse.png');
}
/*
Sections / Pages
-----------------
*/
/* SECTION - City Shelters */
.shelter-list .shelter {
  display: block;
  padding-top: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid #cccccc;
  color: #333333;
}
.shelter-list .shelter:hover {
  background-color: #16a085;
  color: #ffffff;
}
/* SECTION- Shelter */
.shelter-container .action-buttons .btn {
  margin-top: 10px;
  margin-bottom: 10px;
}
.shelter-container .shelter-details {
  margin: 10px 0 0 0;
}
.shelter-container .shelter-stats .stat {
  padding: 10px;
  border-top: 1px solid #cccccc;
  border-right: 1px solid #cccccc;
  border-left: 1px solid #cccccc;
  text-align: center;
  text-transform: uppercase;
}
.shelter-container .shelter-stats .stat:first-child,
.shelter-container .shelter-stats .stat:last-child {
  border-right: none;
  border-left: none;
}
.shelter-stories-container .shelter-story,
.story-container .shelter-story {
  margin-top: 20px;
  padding: 20px;
  background-color: #bdc3c7;
}
.shelter-stories-container .shelter-story .shelter-author,
.story-container .shelter-story .shelter-author,
.shelter-stories-container .shelter-story .shelter-id,
.story-container .shelter-story .shelter-id {
  color: #333333;
  text-transform: uppercase;
  font-weight: bold;
}
.shelter-stories-container .shelter-gift,
.story-container .shelter-gift {
  border-bottom: 1px solid #cccccc;
  border-left: 1px solid #cccccc;
  background-color: #ffffff;
}
/* SECTION - Story */
.center-block {
  display: block;
  float: none;
  margin-right: auto;
  margin-left: auto;
}
.stats {
  margin: 0 auto;
  font-size: 1em;
  border: 1px solid #a1a1a1;
  width: 100%;
}
@media (min-width: 992px) {
  .stats {
    width: 80%;
  }
}
.stats .stat-metric {
  border: 1px solid #a1a1a1 !important;
  width: 33%;
  background: white;
}
@media (max-width: 991px) {
  .stats .stat-metric {
    padding: 9px 9px;
  }
}
.stat-metric {
  text-align: center;
  padding: 20px 0;
  width: 150px;
}
.stat-metric .stat-name {
  color: #a7a7a7;
  text-transform: uppercase;
  font-weight: 300;
  font-size: 1em;
  margin-bottom: 0;
  margin-top: 0;
}
.stat-metric .stat-count {
  display: block;
  font-size: 2em;
}
/* Jumbotron banner */
.jumbotron {
  position: relative;
  margin-top: -76px;
  padding: 72px 0;
  border-bottom: 2px solid #ee1e4e;
  background: #2c3e50;
  text-align: center;
}
@media (min-width: 480px) {
  .jumbotron {
    padding: 140px 0;
  }
}
.jumbotron h1 {
  font-size: 1.611em;
}
@media (min-width: 768px) {
  .jumbotron h1 {
    font-size: 3.444em;
  }
}
.jumbotron p {
  font-size: 1.125em;
}
.jumbotron .img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url(../images/header-1hp.jpg);
  background-position-y: 75%;
  background-size: cover;
  opacity: 0.25;
  -ms-filter: "alpha(Opacity=25)";
  filter: alpha(opacity=25);
}
.jumbotron .container {
  position: relative;
}
/* Mission statement */
.mission {
  text-align: center;
}
/* How it works */
.how-it-works {
  text-align: center;
}
.how-it-works .how-icon img {
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
.how-it-works .how-icon img:hover {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
.how-it-works .row {
  margin: 0 auto;
}
.how-it-works .row > div {
  margin-bottom: 36px;
}
@media (min-width: 992px) {
  .how-it-works .row {
    width: 80%;
  }
}
.how-it-works a {
  color: inherit;
}
/* As seen on TV */
.seen-on {
  text-align: center;
}
.seen-on img {
  display: inline-block;
  margin: 0 10px;
  width: 70px;
  vertical-align: middle;
}
@media (min-width: 768px) {
  .seen-on img {
    width: 100px;
  }
}
@media (min-width: 992px) {
  .seen-on img {
    width: 150px;
  }
}
/* Testimonials */
.testimonials .quote-mark {
  margin: 0 auto;
  height: 4em;
}
.testimonials .quote-mark span {
  color: #bcc3cb;
  font-size: 9em;
  font-family: "PT Sans";
  line-height: 1;
}
.testimonials .tab-content {
  margin-bottom: 2em;
  padding: 0 10%;
  min-height: 200px;
  border: 0px;
  color: #bcc3cb;
  text-align: center;
  font-weight: normal;
  font-size: 1.3em;
}
.testimonials .tab-content .tab-pane {
  font-style: italic;
  font-weight: 300;
}
.testimonials .media {
  margin-top: 0;
  margin-bottom: 15px;
}
@media (max-width: 991px) {
  .testimonials .media {
    text-align: center;
  }
}
.testimonials .media.active img {
  -webkit-filter: grayscale(0);
  filter: grayscale(0);
  -moz-filter: grayscale(0);
}
.testimonials .media.active a {
  color: #ee1e4e;
}
.testimonials .media.active a p {
  color: #bcc3cb;
}
.testimonials .media a {
  padding: 0px;
  color: #bdc3c7;
}
.testimonials .media a:hover {
  background: none;
}
.testimonials .media h3 {
  margin: .5em 0 0 0;
  font-size: 1em;
}
.testimonials .media p {
  font-size: .8125em;
  line-height: 1.3;
  margin-top: .25em;
}
.testimonials .media img {
  width: 60px;
  height: 60px;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  -moz-filter: grayscale(100%);
}
@media (min-width: 992px) {
  .testimonials .media img {
    float: left;
    margin-right: 10px;
  }
}
.city-stories .row {
  margin: 0 auto;
}
@media (min-width: 992px) {
  .city-stories .row {
    width: 80%;
  }
}
/* City tiles */
.add-city {
  display: block;
  background: #eceef0;
  text-align: center;
}
.add-city h2 {
  font-weight: 500;
}
.city-tile {
  position: relative;
  display: block;
  margin-bottom: 2em;
  background: #000;
  color: #FFF;
  border: 1px solid black;
}
.city-tile:hover {
  color: #FFF;
}
.city-tile:hover img {
  opacity: .8;
}
.city-tile .city-title {
  position: absolute;
  top: 38%;
  left: 0;
  margin: 0;
  width: 100%;
  text-align: center;
  text-shadow: 0 1px 8px rgba(0, 0, 0, 0.5);
  font-size: 30px;
  line-height: 1;
}
.action {
  text-align: center;
}
.action .btn {
  margin: 0 10px;
  margin-bottom: 20px;
}
.pledge-checkout .media-body {
  margin-left: 1em;
}
.pledge-checkout .media-heading {
  font-size: 1.5em;
  margin-top: .25em;
}
.pledge-checkout .table {
  margin-bottom: 0;
}
.pledge-checkout .table td {
  vertical-align: middle;
}
.pledge-checkout .checkout-item .btn {
  float: right;
}
.pledge-checkout .control-label {
  text-align: left;
}
.pledge-checkout .list-group-item {
  overflow: hidden;
}
.pledge-checkout .list-group-item .btn {
  margin: 0;
}
.pledge-checkout .list-group-item .btn-success {
  float: right;
}
.tile {
  margin-bottom: 60px;
  text-align: center;
}
.tile h3 {
  font-size: 20px;
}
.tile p {
  font-size: 15px;
  margin-bottom: 33px;
}
.narrow-container .row {
  width: 80%;
  margin: 0 auto;
}
.bottom-menu .title {
  font-size: 13px;
}
.bottom-menu .bottom-links {
  font-size: 13px;
}
.bottom-menu .navbar-brand {
  width: 140px;
  margin-bottom: 20px;
}
.map {
  margin-bottom: 20px;
}
.contact-address {
  margin-top: 70px;
}
[class*="btn-social-"] {
  padding: 10px 19px;
  font-size: 17px;
  line-height: 1.227;
  border-radius: 6px;
  margin: 10px;
}
.btn-social-youtube {
  color: #ffffff;
  background-color: #b51b1b;
}
.btn-social-youtube:hover,
.btn-social-youtube:focus {
  background-color: #c44949;
}
.btn-social-youtube:active,
.btn-social-youtube.active {
  background-color: #9a1717;
}
.btn-social-instagram {
  color: #ffffff;
  background-color: #517fa4;
}
.btn-social-instagram:hover,
.btn-social-instagram:focus {
  background-color: #7499b6;
}
.btn-social-instagram:active,
.btn-social-instagram.active {
  background-color: #456c8b;
}


/********/

@media (max-width: 767px) {
  .navbar-ondark .navbar-collapse {
    background-color: #eceef0;
  }

  .navbar-ondark .nav > li > a {
    color: #526476;
  }
}


