// Loading config with variables (changing them leads to changing a color scheme)
@import "variables";
@black: #333;
@white: #fff;

// Utility mixins for greater good
@import "mixins";
@base-container-padding: 20px;
@base-widgets-padding: 10px;

// consistent spacing 



/*
DEBUGGING 
------------
*/

@media screen and (min-width: 768px) {
  .modal-dialog {
    right: auto;
    left: auto;
  }
}
[xclass*="col-"] {
  padding-top: 15px;
  padding-bottom: 15px;
  border: 1px solid #ddd;
  border: 1px solid rgba(86, 61, 124, 0.2);
  background-color: #eee;
  background-color: rgba(86, 61, 124, 0.15);
}

.m-notop {
  margin-top: 0;
}

/*
General Styling
------------
*/
html,
body {
  height: 100%;
}
body {
  position: relative;
  padding-top: 76px;
}
body, p {
  @media (min-width: @screen-sm-min) { font-size: 18px; }
}

.lead {
  font-size: 1.556em;
}

.on-dark {
  h1, h2, h3, h4, p { color: white; }
}

h2.section-title {
  font-weight: 300;
}

/*
Bootstrap Overrides
------------
*/
.img-responsive {
  width: 100%;
}
.btn-white {
  border: 2px solid #bdc3c7;
  background-color: white;
  color: #34495e !important;
}
.btn-white:hover {
  color: #34495e;
}
.btn-white .caret {
  border-top-color: #34495e;
  border-bottom-color: #34495e;
}
.btn-group.open .btn-white.dropdown-toggle {
  color: #34495e;
}
.btn-group.select {
  width: 100%;
}
.btn-group.select .btn-white {
  width: 100%;
}

.list-group-item .btn {
  margin: 1em 0;
}
/*
Modules/Widgets (thing reused throughout)
-----------------
*/
section {
  padding: 5% 0;
  border-bottom: 1px solid #e8eaef;
}

.section-title {
  text-align: center;
  margin-top: 0;
  margin-bottom: 1em;
}

.section-offset {
  background: mix(@brand-primary, white, 9.5%);
  h2 {
    font-weight: 500;
  }
  h1, h2, h3, h4, h5 {
    small { color: #B7B9BD; }
  }
}

/*
.container {
  @media (min-width: @screen-sm-min) { width: @screen-sm-min - @grid-gutter-width; }
  @media (min-width: @screen-md-min) { width: @screen-md-min - @grid-gutter-width; }
  @media (min-width: @screen-lg-min) { width: @screen-lg-min - @grid-gutter-width; }
}
*/

/* Wrapper for page content to push down footer */
#wrap {
  /* Negative indent footer by its height */
  margin: 0 auto -120px;
  /* Pad bottom by footer height */
  padding: 0 0 120px;
  min-height: 100%;
  height: auto;
}


// Navbar
// --------------------------------------------------

.navbar {
  border-radius: 0;
  -webkit-transition: all .25s linear;
  -moz-transition: all .25s linear;
  -o-transition: all .25s linear;
  transition: all .25s linear;
  .navbar-brand {
    width: 160px;
    background: url('../images/logos/hp.png') center center no-repeat;
    background-size: 100%;
    text-indent: -9999999px;
  }
  .nav {
    //@media (max-width: 979px) { float: left !important; }
  }
  .nav > li > a {
    font-size: @font-size-base;
  }
  .navbar-right > li > a.btn {
    margin: 20px 10px;
    padding: 0px 20px;
    border-radius: 10px;
  }
}

.navbar-ondark {  
  .navbar-brand { background-image: url('../images/logos/hp-inverse.png'); }
  .nav > li > a { color: @inverse; }
}

/*
Sections / Pages
-----------------
*/
/* SECTION - City Shelters */
.shelter-list .shelter {
  display: block;
  padding-top: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid #cccccc;
  color: #333333;
}
.shelter-list .shelter:hover {
  background-color: #16a085;
  color: #ffffff;
}
/* SECTION- Shelter */
.shelter-container {
  margin-top: 20px;
  padding: 20px;
  background-color: #ecf0f1;
}
.shelter-container .action-buttons .btn {
  margin-top: 10px;
  margin-bottom: 10px;
}
.shelter-container .shelter-details {
  margin: 10px 0 0 0;
}
.shelter-container .shelter-stats .stat {
  padding: 10px;
  border-top: 1px solid #cccccc;
  border-right: 1px solid #cccccc;
  border-left: 1px solid #cccccc;
  text-align: center;
  text-transform: uppercase;
}
.shelter-container .shelter-stats .stat:first-child,
.shelter-container .shelter-stats .stat:last-child {
  border-right: none;
  border-left: none;
}
.shelter-stories-container .shelter-story,
.story-container .shelter-story {
  margin-top: 20px;
  padding: 20px;
  background-color: #bdc3c7;
}
.shelter-stories-container .shelter-story .shelter-author,
.story-container .shelter-story .shelter-author,
.shelter-stories-container .shelter-story .shelter-id,
.story-container .shelter-story .shelter-id {
  color: #333333;
  text-transform: uppercase;
  font-weight: bold;
}
.shelter-stories-container .shelter-gift,
.story-container .shelter-gift {
  border-bottom: 1px solid #cccccc;
  border-left: 1px solid #cccccc;
  background-color: #ffffff;
}
/* SECTION - Story */

.center-block {
  display: block;
  float: none;
  margin-right: auto;
  margin-left: auto;
}


// Homepage
// --------------------------------------------------

/* Jumbotron banner */
.jumbotron {
  position: relative;
  margin-top: -76px;
  padding: 13% 0 10% 0;
  border-bottom: 2px solid @brand-secondary;
  background: @midnight-blue;
  text-align: center;
  h1 {
    font-size: @font-size-h4;
    @media (min-width: @screen-sm-min) { font-size: @font-size-h1; }
  }
  p {
    font-size: 1.125em;
  }
  .img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(../images/header-1hp.jpg);
    background-position-y: 75%;
    background-size: cover;
    opacity: 0.25;
    -ms-filter: "alpha(Opacity=25)";
    filter: alpha(opacity=25);
  }
  .container {
    position: relative;
  }
}

/* Mission statement */
.mission {
  text-align: center;
}

/* How it works */
.how-it-works {
  text-align: center;
  .row {
    margin: 0 auto;
    @media (min-width: @screen-md-min) { width: 80%; }
  }
}

/* As seen on TV */
.seen-on {
  text-align: center;
  img {
    display: inline-block;
    margin: 0 10px;
    width: 70px;
    vertical-align: middle;
    @media (min-width: @screen-sm-min) { width: 100px; }
    @media (min-width: @screen-md-min) { width: 150px; }
  }
}

/* Testimonials */
.testimonials {
  .quote-mark {
    margin: 0 auto;
    height: 4em;
    span {
      color: #bcc3cb;
      font-size: 9em;
      font-family: "PT Sans";
      line-height: 1;
    }
  }
  .tab-content {
    margin-bottom: 2em;
    padding: 0 10%;
    min-height: 150px;
    border: 0px;
    color: #a7a7a7;
    text-align: center;
    font-weight: normal;
    font-size: 1.2em;
  }

  .media {
    margin-top: 0;
    margin-bottom: 15px;
    @media (max-width: @screen-sm-max) { text-align: center; }
    &.active {
      img {
      -webkit-filter: grayscale(0);
      filter: grayscale(0);
      -moz-filter: grayscale(0);
      }
      a { color: inherit; }
    }
    a {
      padding: 0px;
      color: #a7a7a7;
    }
    a:hover { background: none; }
    h3 {
      margin: .5em 0 0 0;
      font-size: 1em;
    }
    img {
      width: 60px;
      height: 60px;
      -webkit-filter: grayscale(100%);
      filter: grayscale(100%);
      -moz-filter: grayscale(100%);
      @media (min-width: @screen-md-min) { float: left; margin-right: 10px; }
    }
  }
}

/* Wish Counter */
.wish-counter {
  margin: 0 auto;
  font-size: 1em;
  background: white;
  text-align: center;
  @media (min-width: @screen-md-min) { width: 80%; }
  td {
    .wish-title { 
      margin-top: 0; 
      color: #a7a7a7;
      text-transform: uppercase;
      font-weight: 300;
      font-size: 1em;
    }
    .wish-number {
      display: block;
      font-size: @font-size-h3;
    }
    @media (max-width: @screen-sm-max) { padding: 9px 9px; }
  }
}


// Stories
// --------------------------------------------------
.city-stories {
  .row {
    margin: 0 auto;
    @media (min-width: @screen-md-min) { width: 80%; }
  }
}

/* City tiles */
.city-tile {
  position: relative;
  display: block;
  margin-bottom: 2em;
  background: #000;
  color: #FFF;
  &:hover { 
    color: #FFF; 
    img { opacity: .8; }
  }
  
  .city-title {
    position: absolute;
    top: 38%;
    left: 0;
    margin: 0;
    width: 100%;
    text-align: center;
    text-shadow: 0 1px 8px rgba(0,0,0,0.5);
    font-size: 30px;
    line-height: 1;
  }
}


// Call to action
// --------------------------------------------------
.action {
  text-align: center;
  .btn {
    margin: 0 10px;
  }
}


